<!-- Dashboard -->
<!-- Viewing and searching in enrolled courses-->
<div class="d-flex flex-row justify-content-between pb-3">
  <h3>Courses</h3>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success text-white" type="submit">Search</button>
  </form>
</div>

<div class="row flex-grow-1 pb-3">
  <table class="dashboard">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <tr>
        <th scope="row">1</th>
        <td>Computer Science</td>
        <td>
          <button type="button" class="btn btn-danger">View</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Piano</td>
        <td>
          <button type="button" class="btn btn-danger">View</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Drawing</td>
        <td>
          <button type="button" class="btn btn-danger">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End of Dashboard -->